<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>일정</title>
    <style>
      .container {
        display: flex;
        justify-content: space-between;
        margin: 20px;
      }

      .section {
        flex-basis: 30%;
      }
    </style>
</head>
<body>
<h1>일정 예약</h1>

<div class="container">
  <div class="section">
    <h2>거래 가능 시간</h2>
    <!-- 거래 가능 시간 내용 추가 -->
  </div>

  <div class="section">
    <h2>캘린더</h2>
    <!-- 캘린더 내용 추가 -->
  </div>

  <div class="section">
    <h2>시간 선택</h2>
    <!-- 시간 선택 내용 추가 -->
  </div>
</div>
</body>
</html>